<article>
  <h3><%= link_to post.title, post_path(post) %></h3>
  <p><%= post.body %></p>

  <% if user_signed_in? %>
  <p>Posted by @<%= post.user.username %></p>
  <% end %>
  <p>Posted <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</p>
</article>
