<article>
  <h3><%= post.title %></h3>
  <p><%= post.body %></p>
  <p>Posted by @<%= post.user.username %></p>
  <p>Posted <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</p>

</article>
