<h1>All the posts</h1>
<% if @posts.any? %>
  <%= render partial: "post", collection: @posts %>
<% else %>
<p>Not found</p>
<% end %>

<% if user_signed_in? %>
  <%= link_to  "Create a new post", new_post_path %>
<% end %>
